<div class="container-fluid menu-container p-0 bg-dark">
    <ul class="p-0 m-0 text-center">
        <li class="d-inline-block" >
            <a class="text-white" [routerLinkActive]="['active']" [routerLink]="['/home']" > Home </a>
        </li>
        <li class="d-inline-block" >
            <a class="text-white" [routerLinkActive]="['active']" [routerLink]="['/services']" > Services </a>
        </li>
        <li class="d-inline-block" >
            <a class="text-white" [routerLinkActive]="['active']" [routerLink]="['/about']" > About </a>
        </li>
    </ul>
</div>